.navigation {
    margin-top: 20%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.span1 {
    transition: all 0.5s ease;
    margin-left: 160px;
    transform: rotateY(180deg);
}

.span2 {
    margin-left: 130px;
}


/* reset our lists to remove bullet points and padding */

.mainmenu,
.submenu .sub-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* make ALL links (main and submenu) have padding and background color */

.mainmenu a,
.mainmenu label {
    display: block;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    color: rgb(41, 40, 40);
}

.mainmenu input {
    display: none;
}


/* add hover behaviour */

.mainmenu a:hover {
    color: #f85a40;
}


/* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */

.mainmenu :checked+.submenu {
    display: block;
    max-height: 600px;
}

.mainmenu :checked+.sub-submenu {
    display: block;
    max-height: 600px;
}


/*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */


/* hover behaviour for links inside .submenu */


/* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */

label:hover {
    color: #f85a40;
}

.submenu {
    list-style: none;
    padding-left: 30px;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.7s ease-out;
}

.sub-submenu li {
    padding-left: 30px;
}

.sub-submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.9s ease-out;
}