.hfContent {
    text-align: start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.5);
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}