.heading3 {
    font-family: "Montserrat", sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1.5rem !important;
}

.sub3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
}