.whyusContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.whyusimage {
    margin-right: 20px;
    height: 100%;
}

.heading2 {
    font-family: "Montserrat", sans-serif !important;
    margin-bottom: 3rem !important;
    font-weight: bold;
}

.sub2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.2;
}